<div class = "container">
  <ul class = "nav nav-tabs">
      <li role="presentation" ><%=link_to "首頁", root_path %></li>
      <li role= "presentation"><%= link_to "最新動態", feeds_restaurants_path %></li>
      <li role= "presentation", class= "active"><%= link_to "Top 10 人氣餐廳", ranking_restaurants_path %></li>
      <li role= "presentation"><%= link_to "美食達人", users_path %></li>
  </ul>
</div>
<br>

<div calss = "container">
  <div class = "row">
    <div class="col-md-10 col-md-offset-1">

      <h1>Top 10 人氣餐廳</h1>

   
      <% @restaurants.each do |restaurant| %>
        <div class = "ranking-item">
          <div class = "col-md-3">
            <%= link_to restaurant_path(restaurant) do%>
            <img src="http://via.placeholder.com/200x100"></a>
            <% end %>
          </div>
          <div class = "col-md-9">
           <h4><%=restaurant.name %> <span class = "label label-default">收藏數：<%=restaurant.favorites_count%></span></h4>    
            <p><%= truncate(restaurant.description, length: 100)%></p>
            <div><%= render partial: "shared/favorite", locals: {restaurant: restaurant} %></div>
          </div>
        </div>
        <div class = "clearfix"></div>
      <% end %>

  </div>
  </div>
</div>